.myfont{
    font-family:'Courier New', Courier, monospace
}
.mysubfont{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke !important;
}
.myimg{
    width: 50% !important;
}
.myitalics{
    font-style: italic;
}
.background{
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../assets/img/aboutmepage.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
.imagesize{
    width: 70%
}
.introimagesize{
    width: 60%;
    margin-left: 30%;
}
.video{
    width: 80% !important;
    height: 400px !important;
    padding-bottom: 5%;
}
.text{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mycomment{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutpic{
    width: 32%;
    height: auto;
    text-align: center !important;
   
}
.textsize{
    font-size: 34pt !important;
}
.tex{
    font-size: 20pt !important;
    font-style: italic;
    color: brown;
}
.abouthead{
    font-size: 50pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    position:relative;
}
.resumehead{
    padding-left: 0%;
    font-size: 25pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.resumecomment{
    font-size: 20pt;
    margin-left: 10%;
}
.emailtext{
    font-size: 15pt;
}
.backgroundcolor{
    background-color:aliceblue;
}
.tableausize{
    width: 100%;
    padding-top: 0%;
}
.scratchhead{
    font-size: 24pt;
    color: orange;
    font-style: bold;
}
.topimage{
    width: 100%;
    height: 100pt;
}
.scratchtext{
    font-size: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.center{
    text-align: center;
}
.topbackground{
    background-color: antiquewhite;
    padding-top: 5pt;
    padding-bottom: 5pt;
    margin-bottom: 5pt;
    text-align: right;
}
.resumetext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17pt;
    font-style: oblique;
}
.resume{
    text-align: center;
    background-color: transparent;
}
.top{
    font-size: 20pt;
}
.redtext{
    color: red;
}
.scratchback{
    background-color: aliceblue;
}
.exptext{
    font-size: 13pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}